<row class="footer">
  <columns>
    <spacer size="16"></spacer>
    <center>
      <img class="logo" src="http://go.codiscope.com/rs/442-XVH-714/images/color-logo.svg" alt="logo" height="auto" width="200">
    </center>
    <p class="text-center"><a href="#">Edit your email settings</a> / <a href="#">Unsubscribe</a><br>
      20 Park Plaza, Boston, MA 02116<br>
      &#169; Copyright 2016 Codiscope. All Rights Reserved.<br>
      <a href="#">Privacy Policy</a></p>
    <center>
      <menu>
        <item><img class="footer-img" src="http://go.codiscope.com/rs/442-XVH-714/images/email.svg" alt="email-icon"></item>
        <item><img class="footer-img" src="http://go.codiscope.com/rs/442-XVH-714/images/facebook.svg" alt="facebook-icon"></item>
        <item><img class="footer-img" src="http://go.codiscope.com/rs/442-XVH-714/images/twitter.svg" alt="twitter-icon"></item>
        <item><img class="footer-img" src="http://go.codiscope.com/rs/442-XVH-714/images/linkedin.svg" alt="linkedin-icon"></item>
      </menu>
    </center>
  </columns>
</row>