<container class="header">
  <row>
    <columns class="header-one" small="12" large="12" style="border:1px solid red;">
      <img class="logo" src="http://go.codiscope.com/rs/442-XVH-714/images/color-logo.svg" alt="logo">
      <h1 class="text-center caps">hey thingie</h1>
      <p>And up and down stairs chasing things.And up and down stairs chasing things.And up and down stairs chasing things.And up and down.</p>
      <center>
        <img class="header-long" src="http://go.codiscope.com/rs/442-XVH-714/images/header-divider.png" alt="divider">
      </center>
      <p>All of a sudden cat goes crazy pee in human's bed until he cleans the litter box burrow under covers climb leg. Sun bathe cats go for world domination, the dog smells bad. Chase imaginary bugs chase the pig around the house for white cat sleeps on a black shirt and sit on the laptop.</p>
    </columns>
  </row>
</container>
