<row>
  <columns class="land-img-hold" small="12" large="12">
    <img class="land-img" src="../assets/img/meeting-at-table.jpg" alt="landing image layout one">
  </columns>
</row>
<row>
  <columns small="12" large="12" class="underImg">
      <h2 class="white">Lorem ipsum dolor sit amet</h2>
      <h4 class="white">Lorem sub header</h4>
      <p class="white">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.</p>
      <button href="zurb.com" class="expanded landingBtn">Expanded Button</button>
  </columns>
</row>