<row>
  <columns class="three-col" small="12" large="4">
    <img src="http://go.codiscope.com/rs/442-XVH-714/images/square-placeholder.png" width="200" height="auto" alt="placeholder">
    <p class="text-center sub-header">Lorem sub header</p>
    <p>Scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.</p>
    <spacer size="45"></spacer>
    <button href="zurb.com" class="expanded wideBtn stuckBottom">Expanded Button</button>
  </columns>
  <columns class="three-col" small="12" large="4">
    <img src="http://go.codiscope.com/rs/442-XVH-714/images/square-placeholder.png" width="200" height="auto" alt="placeholder">
    <p class="text-center sub-header">Lorem sub header</p>
    <p>Scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.</p>
    <p>Scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat. Scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.</p>
    <spacer size="45"></spacer>
      <button href="zurb.com" class="expanded wideBtn stuckBottom">Expanded Button</button>
  </columns>
  <columns class="three-col" small="12" large="4">
    <img src="http://go.codiscope.com/rs/442-XVH-714/images/square-placeholder.png" width="200" height="auto" alt="placeholder">
    <p class="text-center sub-header">Lorem sub header</p>
    <p>Scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.</p>
    <spacer size="45"></spacer>
      <button href="zurb.com" class="expanded wideBtn stuckBottom">Expanded Button</button>
  </columns>
</row>