@import 'settings';
@import 'foundation';

@font-face {
  font-family: open_sansregular;
  src: url('opensans-regular-webfont.eot');
  src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('opensans-regular-webfont.woff2') format('woff2'),
  url('opensans-regular-webfont.woff') format('woff'),
  url('opensans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:open_sansregular,Arial,sans-serif!important;
  font-size:14px;
  line-height:125% !important;
}

.logo {
  width: 200px;
  height: auto;
}

.caps {
  text-transform: uppercase;
}

.header-long {
  margin-bottom: 10px !important;
}

.land-img {
  height: 400px;
  width: 600px;
}

.land-img-hold {
  padding-bottom: 0px !important;
}

.three-col {
  height:100%;
  position:relative;
}

.white {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  margin: 0px;
}

.stuckBottom {
  position:absolute;
  bottom:0px;
}

.holder {
  height:40px;
  width:200px;
}

.footer-img {
  height: auto;
  width: 32px;
}

.underImg > table {
  background-color: #000;
}

table.button.wideBtn {
  width: 90% !important;
}

.sub-header {
  padding-top: 5px;
}

table.button.landingBtn {
  width: 90% !important;
  margin: 10px auto !important;
}